.job {
  width: 100%;
  position: relative;
  display: block;
  padding: 50px 0;
  background-color: #ffffff;
}

.job::after {
  content: "";
  background: url("/src/img/branch_job.png") left 0/ 250px 345px no-repeat;
  opacity: 0.2;
  top: 30px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.jobs__items img {
  width: 100%;
  max-width: 70px;
  margin: 0 0 10px 0;
}

.jobs__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}
.job__img {
  flex: 0 1 80px;
}

.job__text {
  flex: 1 1 260px;
}
