body {
  background-color: #fff;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  height: 100px;
  margin: 0 auto;
}
