@font-face {
  font-family: "Montserrat";
  src: url(/src/fonts/Montserrat-Medium.woff),
    url(/src/fonts/Montserrat-SemiBold.woff);
  font-style: normal;
}
@font-face {
  font-family: "Philosopher";
  src: url(/src/fonts/Philosopher-Bold.woff);
  font-style: normal;
}

body {
  background-color: #fff;
  height: 2000px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
