@font-face {
  font-family: "Montserrat";
  src: url(/src/fonts/Montserrat-Medium.woff),
    url(/src/fonts/Montserrat-SemiBold.woff);
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Philosopher";
  src: url(/src/fonts/Philosopher-Bold.woff);
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fff;
  font-family: "Montserrat";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title__h3 {
  text-align: center;
  font-family: "Philosopher";
  font-weight: 700;
  color: #8f4e4a;
  font-size: 33px;
  margin-bottom: 30px;
}

@media (min-width: 1140px) {
  .title__h3 {
    font-size: 38px;
  }
}

@media (min-width: 1320px) {
  .title__h3 {
    font-size: 45px;
    margin-bottom: 55px;
  }
}
