main {
  width: 100%;
}
.main {
  width: 100%;
  background: url("/src/img/line_header.png") 0 110px no-repeat,
    linear-gradient(
      180deg,
      rgb(255, 237, 233) 43.33%,
      rgba(255, 243, 240, 0) 99.73%
    );
  padding-top: 40px;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__item {
  color: #8f4e4a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__text-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

.main__title h1 {
  font-size: 25px;
  font-family: "Montserrat";
  font-weight: 400;
  margin-bottom: 10px;
}

.main__subtitle h2 {
  font-size: 35px;
  font-family: "Philosopher";
  font-weight: 700;
  margin-bottom: 30px;
}

.main__text p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  color: #292929;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.2;
  width: 100%;
  max-width: 550px;
}
.main__img {
  display: flex;
  order: 2;
  margin-bottom: 55px;
}

.main__img img {
  max-width: 340px;
  width: 100%;
}

.main__btn {
  display: flex;
  order: 3;
}

.main__btn-full {
  display: none;
}

.btn__main {
  background-color: #7aaca7;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  padding: 18px 25px;
}

@media (min-width: 960px) {
  .main__container {
    display: block;
  }

  .main__item {
    flex-direction: row;
    justify-content: space-between;
  }
  .main__text-item {
    align-items: flex-start;
  }

  .main__title h1 {
    font-size: 40px;
  }
  .main__subtitle h2 {
    font-size: 60px;
  }

  .main__text p {
    font-size: 21px;
  }
  .main__img {
    order: 2;
    margin-bottom: 0;
  }
  .main__img img {
    max-width: 450px;
  }

  .main__btn {
    display: none;
  }
  .main__btn-full {
    display: block;
    padding-top: 50px;
  }

  .main__text p {
    text-align: start;
  }
}

@media (min-width: 1320px) {
  .main__subtitle h2 {
    font-size: 70px;
  }

  .main__text p {
    font-size: 25px;
  }

  .btn__main {
    font-size: 18px;
  }
  .main__title h1 {
    font-size: 45px;
  }
  .main__img img {
    max-width: 520px;
  }
}
