.about__main {
  width: 100%;
  position: relative;
  display: block;
  padding: 90px 0;
}

.about__main::after {
  content: "";
  background: url("/src/img/branch_about.png") right 0/ 250px 345px no-repeat #ffffff;
  opacity: 0.2;
  top: 30px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about__ul > li {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #292929;
  line-height: 1.1;
  margin-bottom: 17px;
}
.about__ul span {
  color: #8f4e4a;
  font-style: italic;
  font-size: 14px;
}

.about__ul {
  width: 100%;
  max-width: 295px;
}

.about__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

.about__img {
  padding-top: 30px;
  order: 2;
  max-width: 335px;
}

.img__about {
  width: 100%;
}

@media (min-width: 960px) {
  .about__item {
    flex-direction: row;
    justify-content: center;
  }

  .about__text {
    align-items: flex-start;
    order: 2;
  }

  .about__img {
    padding-top: 0;
    order: 1;
    margin-right: 60px;
  }
}

@media (min-width: 1320px) {
  .about__img {
    max-width: 440px;
  }

  .about__main::after {
    background: url("/src/img/branch_about.png") right 0/ 420px 500px no-repeat;
  }

  .about__ul {
    max-width: 480px;
  }

  .about__ul > li {
    font-size: 20px;
  }
  .about__ul span {
    font-size: 19px;
  }
}

@media (min-width: 1600px) {
  .about__main::after {
    background: url("/src/img/branch_about.png") right 0/ 420px 500px no-repeat;
    opacity: 1;
  }
}
