.appeals {
  width: 100%;
  background-color: #faf4f4;
  padding: 35px 0 50px 0;
}

.appeals__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.appeals__li {
  display: flex;
  flex-direction: column;
}
.appeals__li li {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  margin-bottom: 0;
}

.item__ul .item__num {
  font-family: "Philosopher";
  font-weight: 700;
  color: #7aaca7;
  font-size: 100px;
  font-style: normal;
}
.item__ul .num01 {
  letter-spacing: 10px;
}

@media (min-width: 576px) {
  .appeals__item {
    display: block;
  }
  .appeals__li {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .appeals__li li {
    align-items: flex-start;
    margin-right: 30px;
  }
  .appeals__li li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 720px) {
  .appeals__li li {
    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .title__h3 {
    text-align: start;
  }
}
