.appeals {
  width: 100%;
  background-color: #faf4f4;
  padding: 35px 0 50px 0;
}

.appeals__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.appeals__ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.appeals__ul > li {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #292929;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  margin-bottom: 0;
}
.appeals__ul span {
  color: #8f4e4a;
  font-style: italic;
  font-size: 14px;
}

.appeals__ul .item__num {
  font-family: "Philosopher";
  font-weight: 700;
  color: #7aaca7;
  font-size: 100px;
  font-style: normal;
}
.appeals__ul .num01 {
  letter-spacing: 10px;
}

@media (min-width: 576px) {
  .appeals__item {
    display: block;
  }
  .appeals__ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .appeals__ul li {
    margin-right: 30px;
  }
  .appeals__ul li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 720px) {
  .appeals__ul li {
    margin-right: 0;
  }
}

@media (min-width: 1320px) {
  .title__h3 {
    text-align: start;
  }
  .appeals__ul span {
    font-size: 19px;
  }
}
