.footer {
  background-color: #fff;
  width: 100%;
  padding: 50px 0 35px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo__footer img {
  max-width: 200px;
  width: 100%;
}

.email__footer a {
  font-weight: 500;
  font-size: 15px;
  color: #292929;
}
.logo__footer,
.footer__map {
  margin-bottom: 15px;
}

.email__footer {
  margin-bottom: 30px;
}
.num__footer {
  color: #8f4e4a;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}
.footer__number {
  margin-bottom: 30px;
}
.footer__number p,
.footer__map a {
  font-weight: 600;
  font-size: 14px;
  color: #292929;
  margin-bottom: 15px;
}

.footer__map a {
  line-height: 3.4;
}

.btn__footer {
  color: #7aaca7;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
}

.address__text {
  margin-bottom: 5px;
}
.address__text p {
  color: #8f4e4a;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.1;
}

@media (min-width: 960px) {
  .footer__container {
    display: block;
  }

  .footer__number,
  .email__footer {
    margin-bottom: 0;
  }
  .footer__number {
    text-align: center;
  }
  .footer__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer__address {
    text-align: right;
  }

  .footer__number p {
    line-height: 1.3;
  }
  .num__footer {
    font-size: 22px;
    line-height: 2.5;
  }
}

@media (min-width: 1320px) {
  .logo__footer img {
    max-width: 236px;
  }
  .email__footer a {
    font-size: 17px;
  }
  .num__footer {
    font-size: 25px;
  }
  .btn__footer,
  .footer__number p,
  .footer__map a {
    font-size: 17px;
  }

  .footer__number p {
    line-height: 1;
  }
  .address__text p {
    font-size: 21px;
  }
}
