.slider {
  width: 100%;
  background-color: #faf4f4;
  padding: 50px 0 70px 0;
}

.slider__title {
  margin-bottom: 30px;
}

.slider__swiper {
  max-width: 1100px;
  width: 100%;
}

.slider__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  max-width: 100%;
  width: 300px !important;
}

.swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-next {
  right: -5px !important;
}

.swiper-button-prev {
  left: -5px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #8f4e4a;
  font-size: 30px !important;
  font-weight: 700;
}

@media (min-width: 960px) {
  .slider__item {
    align-items: flex-start;
  }
}
